a {
  color: black;
  text-decoration: none;
  margin: 20px 20px;
}
a:hover {
  color: #f1f1f1;
}
.logo {
  padding: 0px 0px;
  margin: 0px 0px;
}
#logo-photo {
  width: 75px;
  height: auto;
}
#logo-text {
  display: inline-block;
  margin: 0px 0px;
  font-size: 35px;
}
.subject:hover {
  background-color: #0f5c06;
  color: #f1f1f1;
}
.notes:hover {
  background-color: #0f5c06;
  color: #f1f1f1;
}
.textbook:hover {
  background-color: #0f5c06;
  color: #f1f1f1;
}
.persubject {
  flex-wrap: wrap;
  padding: 10px;
  margin: 30px;
}
.mycourses {
  background-color: #74e878;
  margin: 10% 10%;
  margin-top: 0%;
  padding: 40px;
  border-radius: 15px;
}
.subject {
  background-color: #74e878;
  margin: 50px 200px;
  padding: 15px;
  display: inline;

  border-radius: 5px;
}
.notes {
  background-color: #74e878;
  margin: 50px 150px;
  margin-right: 25px;
  padding: 15px;
  display: inline;

  border-radius: 5px;
}
.textbook {
  background-color: #74e878;
  margin: 50px 100px;
  margin-left: 25px;
  padding: 15px;
  display: inline;

  border-radius: 5px;
}
.container {
  display: flex;
}
#right {
  flex: 5;
  padding: 40px;
  padding-top: 0px;
  text-align: center;
}

/* navbar */
/* The sidebar menu */
.sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #74e878; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  flex: 1;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  flex: 1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: #0f5c06;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
